<div id="clubs-index" class="pb-3">
  <div class="header-title-div header-bkg-img">
    <h1><span class="blue-header-txt">All</span> Clubs</h1>
  </div>
  <div class="club-index-cards container">
    <% @clubs.each do |club| %>
      <div class="club-card d-flex justify-center-between mb-3">
        <!-- CLUB INFORMATION -->
        <img class="mr-3" src="<%= club.logo %>">
        <div>
          <h3><%= link_to club.name, club_path(club) %></h3>
          <p><%= club.homebase.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>