// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #ffffff;
$purple-trans: #7207c9b6;
$red-trans: #cb0000b0;

$dk-purple: #5d07a3;
$lt-purple: #9e55ff;
$dk-red: #961010;
$lt-red: #c70303;

.dk-purple {
  background-color: $dk-purple;
}
.lt-purple {
  background-color: $lt-purple;
}
.dk-red {
  background-color: $dk-red;
}
.lt-red {
  background-color: $lt-red;
}