// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #181818;
$white: #ffffff;

$screen-bkg: #333;

$decor-aqua: #0affcada;
$decor-blue: #43d9ffd0;
$opaque-blue: #43d9ff;
$opaque-aqua: #14f8c7;
$dark-blue: #60b0f4;

$border-grey: #6e6e6eab;
$body-header-color: #dfdfdf;
$body-txt-color: #5f5f5f;

.green{
  color: #00ce56;
  -webkit-text-stroke: 1px black;
}
.grey {
  color: #a0a0a0;
}

/* CALENDAR EVENT COLORS */
$chandler: #9ae455fd;
$dragon: #fdb85efd;
$griffith: #fd6e6efd;
$sky: #73e9d5fd;
$kenmore: #53a0e7fd;
$sunnybankh: #ba69fcfd;