// Specific CSS for your home-page
#pages-home {
  height: 90vh;
  h1 {
    font-family: $landing-font;
    font-size: 3rem;
    color: $white;
  }
  p { color: white; }
  background-image: url('https://res.cloudinary.com/susanjsp/image/upload/v1612075856/badminton-social/pexels-vladislav-vasnetsov-2202685_f1c4s2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}