// Specific CSS for your home-page
#pages-home {
  height: 92vh;
  h1 {
    font-family: $landing-font;
    font-size: 3rem;
    color: $white;
  }
  p { color: white; }
  background-image: url('https://res.cloudinary.com/susanjsp/image/upload/v1612480222/badminton-social/homepage-mob_mee1gi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}