<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
  <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/susanjsp/image/upload/v1612343212/badminton-social/LogoMakr-13EHWZ_wppccc.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="/clubs" class="nav-link"><i class="fas fa-home"></i> All clubs</a>
      </li>
      <li class="nav-item">
        <a href="/sessions" class="nav-link"><i class="far fa-calendar-alt"></i> Sessions</a>
      </li>
      <li class="nav-item">
        <a href="/locations" class="nav-link"><i class="fas fa-map-marker-alt"></i> Locations</a>
      </li>
      <li class="nav-item">
        <a href="/links" class="nav-link"><i class="fas fa-link"></i> Links</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-user-circle"></i> Sign out
          <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-user-circle"></i> Sign in
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>