<div id="pages-home" class="container-fluid h-80 d-inline-flex flex-column align-items-center flex-auto justify-content-around">
  <h1>Social Badminton Queensland</h1>

  <a href="/locations" class="btn-header-links">Play Now!</a>
  <p>Disclaimer: This website is not affiliated with the official Queensland Badminton Website.</p>
</div>