<div id="pages-home" class="container-fluid vw-100 vh-100 p-0 m-0 position-relative">
  <h1 class="font-weight-bold font-italic text-uppercase position-absolute top-50 start-50">
    <span class="homepage-txt-outline">qld social</span> badminton</h1>
  <div class="home-decoration">
    <div class="homepage-red position-absolute"></div>
    <div class="homepage-purple position-absolute"></div>
    <i class="fas fa-angle-double-down"></i>
    <!--<a class="position-absolute top-89" href="/clubs"><%= image_tag "noun_Badminton_2019917.png"  %></a>-->
  </div>
</div>