<h1><span class="blue-header-txt">links</span></h1>
<div id="links-page" class="container p-3 my-3">
  <a href="https://www.badminton.org.au/">Badminton Australia</a>
  <a href="http://www.qba.net.au/pages/indexh.asp?pageid=93">Badminton Queensland</a>

  <a href="http://www.brisbanebadminton.org/">Brisbane Badminton Association</a>
  <ul>
    <li><a href="https://www.facebook.com/brisbanebadminton/">Facebook</a></li>
  </ul>

  <a href="https://www.facebook.com/Gold-Coast-Badminton-Association-351390446404/?fref=ts">Badminton Gold Coast</a>
  <a href="https://www.facebook.com/Sunshine-Coast-Badminton-Association">Badminton Sunshine Coast</a>
  <hr>
  <h3>Brisbane Clubs</h3>

  <a href="https://www.facebook.com/chandlerbadminton/">Chandler Badminton Club</a>
  <a href="https://www.dragonclub.org/">Dragon Badminton Club</a>
  <ul>
    <li><a href="https://www.facebook.com/DragonBadmintonClub/">Facebook</a></li>
  </ul>
  <a href="https://skybadminton.com.au/">Sky Badminton Club</a>

  <a href="http://www.facebook.com/pages/Griffith-Badminton-Association/172463013294">Griffith University Badminton Club</a>
  <ul>
    <li><a href="https://www.dragonclub.org/">Facebook</a></li>
  </ul>
</div>