.btn-purple {
  font-size: 2rem;
  position: relative;
  width: 45%;
  &::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #961010;
    position: absolute;
    z-index: -1;
    transform: rotate(355deg) translateX(-10px);
  }
}