.btn-header-links {
  background-color: $opaque-blue;
  padding: 8px 20px;
  font-family: $body-font;
  display: inline-block;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}