$header-angle: skew(350deg) rotate(354deg);
h2, h3, .txt-outline {
  font-weight: 800;
  color: $body-header-color;
  font-family: $body-font;
}
h1 {
  text-transform: uppercase;
  -webkit-text-stroke: 2px $white;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.blue-header-txt {
  -webkit-text-stroke: 0px;
  color: $decor-blue;
}
h3 {
  font-size: 1.2rem;
}
h4, h5 {
  font-family: $body-font;
}
h4 {
  font-weight: 600;
}