#locations-index {
  #map {
  width: 100%;
  height: 75vh;
  border-radius: 16px;
  }
}
.club-show-card {
  #map {
    height: 200px;
    float: left;
    width: 45%;
  }
}
.mapboxgl-map { font: unset; }

.mapboxgl-popup-content {
  border-radius: 10px;
  h5 { color: $dark-blue; }
}