#locations-index {
  #map {
  width: 100%;
  height: 75vh;
  border-radius: 16px;
  }
  a {
    display: grid;
    place-items: center;
  }
}
.club-show-card {
  #map {
    height: 200px;
    float: left;
    width: 45%;
  }
}

// mapbox-lg - can't click on markers if z-index: -1 :(