nav {
  display: grid;
  place-items: center;
  .nav-container {
    gap: 16px;
  }
}
.nav-item {
  list-style: none;
  font-size: 1.3rem;
  a {
    color: $white;
  }
  .nav-link {
    padding: 4px 8px;
  }
}